*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font: inherit;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightpink: hsl(275, 100%, 97%);
  --grayishpurple: hsl(292, 16%, 49%);
  --darkpurple: hsl(292, 42%, 14%);
}

body {
  font-family: "Work Sans", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--lightpink);
  background-image: url(../assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.container {
  padding: 2rem;
  box-shadow: 1px 8px 17px -1px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 1px 8px 17px -1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 8px 17px -1px rgba(0, 0, 0, 0.27);
  width: 90%;
  margin: 8rem 0;
  border-radius: 1rem;
  background-color: var(--white);
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 2.5em;
  font-weight: 700;
  color: var(--darkpurple);
}

.title-container img {
  height: 30px;
}

.faq-container {
  margin: 1rem 0;
  border-bottom: 1px solid var(--lightpink);
}

.faq-container:last-of-type {
  border-bottom: none;
}

.question {
  font-weight: 600;
  color: var(--darkpurple);
  font-size: 1.2em;
}

/* .question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
} */
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0;
}

.button:hover {
  color: purple;
}

.icons .minus {
  display: none;
}

.answer {
  color: var(--grayishpurple);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.desc {
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease;
}

/* .active {
  display: block;
} */

@media (min-width: 1440px) {
  .container {
    width: 40rem;
    margin: 0;
  }
  body {
    background-image: url(../assets/images/background-pattern-desktop.svg);
  }
  .title-container {
    font-size: 3.5rem;
  }
  .title-container img {
    height: 100%;
  }
}
